@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

.auth-bg{
  background-image: url("/assets/lBhsaY.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;            
  background-color: #fff;   
}